---
import cvData from '../data/cv.json';
const { name, title, links } = cvData.header;
---
<header>
  <h1>{name}</h1>
  <p >{title}</p>
  <p class="phone">+34 674 737 556</p>
  <nav>
    
        
        <a href={links.github} target="_blank">
            <i class="fab fa-github"></i>
        </a> | 
        <a href={links.email}>
            <i class="fas fa-envelope"></i>
        </a> |
        <a href={links.linkedin} target="_blank">
            <i class="fab fa-linkedin"></i>
        </a> 

  </nav>
</header>

<style>
  header { text-align: center; padding: 2rem 0; }
  h1 { font-size: 2.5rem; margin: 0; }
  p { font-size: 1.2rem; color: #ffffff; }
  nav { margin-top: 1rem; }
  nav a { margin: 0 10px; }
  i { 
    font-size: 1.5rem; 
    color: rgb(249, 180, 78);
    }


</style>